<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
<listener class-name="com.company.ebay.util.TestListners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.company.ebay.tests.SiginandBuyProductTest"/>
    </classes>
  </test> 
</suite> 
